/* HOME */
.main-container{
    background: rgb(0,0,0);
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgb(100,100,100) 67%, rgba(189,189,189,1) 100%);
    background-size: 300%;
    animation: bg-animation 8s infinite alternate;
    margin-top: var(--header-height);
    display: grid;
}

@keyframes bg-animation{
    0% {background-position: 0%}
    100% {background-position: 15%}
}

.home-content{
    padding: 5% 5% 10%;
    color: white;
    justify-self: center;
    align-self: center;
}

.isotipo{
    width: 80%;
    display: block;
    margin: 15px auto;
}

.titulo{
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: .5;
}

.titulo-2{
    font-size: 1.8rem;
    color: #FFC745;
}

.subtitulo{
    font-size: .9rem;
    font-weight: 400;
    padding: .4rem .5rem 1rem;
}

.home-btn{
    text-align: center;
    padding-top: 10px;
}

.home-btn-a{
    color: var(--black);
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    background-color: #FFC745;
}

.center{
    text-align: center;
}

/* FIN HOME */




