@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root{
    --header-height: 5rem;
    --black: rgb(24, 23, 23);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Montserrat, sans-serif;
}


 /* Barra navegacion  */
header{
    background-color: var(--black);
    width: 100%;
    position: fixed;
} 

.caja{    
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li{
    display: inline;
    list-style: none;
    padding: 0 2rem;
}

nav a{
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: rgb(196, 167, 8);
    transition: all 0.15s ease-out;
    border-bottom: .1rem solid rgba(196, 168, 8, 0.815);
    padding-bottom: .2rem;
}

.nav-icons span{
    color: white;
    font-size: 1.8rem;
    padding: 0 .5rem;
}

.nav-icons span:hover{
    color: rgb(196, 167, 8);
    transition: all 0.3s linear;
    cursor: pointer;
}

.logo img{
    height: 4rem;
}  

#menu-btn{
    display: none;
}

