
form{
    display: flex;
    flex-direction: column;
    margin: 5rem;
}
form .fila1{
    display: flex;
    flex-direction: row;
    gap: 300px;
}

form .fila1 label{
    width: 100%;
}
form .fila2 label{
    width: 100%;
}
form .fila2{
    display: flex;
    flex-direction: row;
    gap: 300px;
}
form  label{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    width: 100%;
}
form label textarea{
    margin-bottom: 3rem;
}
form input{
    height: 2rem;
    border: none;
    border-bottom: 1px solid black;
}
form textarea{
    border: none;
    border-bottom: 1px solid black;
    width: 100% ;
}
form input[type="submit"]{
    display: flex;
    width: 15%;
    height: 2.5rem;
    border: none;
    border-radius: 5px ;
}
form input[type="submit"]:hover{
    background-color: #ff9d00;
    transition: .5s ease-in-out;
    color: white;
    font-size: 1.3rem;
}
.conocenos{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8rem;
}
.conocenos .grupo{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
}
.conocenos .grupo img{
    width: 25rem;
}
.conocenos .trabajos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
}
.conocenos .texto{
    width: 50%;
}
.conocenos .trabajos img{
    width: 25rem;
}
@media (max-width: 1024px){
    form .fila1{
        display: flex;
        flex-direction: row;
        gap: 150px;
    }
    
    form .fila1 label{
        width: 100%;
    }
    form .fila2 label{
        width: 100%;
    }
    form .fila2{
        display: flex;
        flex-direction: row;
        gap: 150px;
    }
    form input[type="submit"]{
        width: 35%;
    }
    .conocenos{
        padding: 4rem;
    }
    .conocenos .texto{
        width: 90%;
    }
}
@media(max-width: 799px){
    form{
        margin: 3rem;
    }
    form .fila1{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    
    form .fila1 label{
        width: 100%;
    }
    form .fila2 label{
        width: 100%;

    }
    form .fila2{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    form input[type="submit"]{
        display: inline-block;
        align-self: center;
        justify-self: center;
    }
    .conocenos{
        padding: 2rem;
    }
    .conocenos .texto{
        width: 100%;
    }
    .conocenos .grupo{
        display: flex;
        flex-direction: column;
    }
    .conocenos .trabajos{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 0;
        margin-top: 1rem;
    }

    .conocenos .trabajos img{
        padding-bottom: 2rem;
    }
    .conocenos h3{
        text-align: center;
    }
    .conocenos .texto{
        width: 100%;
    }
}
@media (max-width: 540px){
    form{
        margin: 5px;
    }
    .conocenos{
        padding: 1.1rem;
    }
    .conocenos .texto{
        width: 100%;
    }
}